{% extends 'layout.html' %}

{% block header %}
<h1>title</h1>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Juan's Vault</h5>
            {%if status == 1%}
            success
            {%endif%}
            <form action="/trustedOpen">
                Key: <input type="text" name="usrname"><br>
                <input type="submit" value="Submit">
              </form>
        </div>
    </div>
</div>


{%endblock%}